@page
@model IndexModel
@{
    ViewData["Title"] = "Page news football";
}



<div class="text-center">
    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>

        <style>
            body {
                font-family: Tahoma;
                font-size: 13px;
            }

            #main .left {
                width: 70%;
                background: yellowgreen;
                min-height: 600px;
            }

            #main .right {
                width: 30%;
                background: blue;
                min-height: 600px;
            }

            .khungNews {
                width: 100%;
                border: 1px solid red;
            }

            .imgpost {
                width: 25%;
            }

            .khungNews .image img {
                width: 100%;
            }

            .khungNews .news h3 {
                margin-top: 25px;
            }

            #main {
                margin-top: 15px;
            }

            #banner img {
                width: 100%;
                height: 500px;
            }

            .khungNewNews {
                margin: 20px;
            }

            .imgpost:first-child {
                width: 50%;
            }

            #footer {
                text-align: center;
                background: gray;
                color: wheat;
                clear: left;
            }

                #footer p {
                    color: white;
                    padding-top: 20px;
                }

            .giayphep {
                margin-top: 50px;
                margin-bottom: 20px;
            }

            .lienhe {
                margin-top: 10px;
                margin-bottom: 20px;
            }



            .logoBot img {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 200px;
                height: 200px;
                border-radius: 50%;
            }

            #footer .logoBot {
                border-bottom: 1px solid white;
                padding-bottom: 30px;
                padding-top: 30px;
            }

        </style>
    </head>
    <body>
        <div>
            <div id="banner">
                <img src="https://cdn.tgdd.vn/Files/2014/08/28/562705/nhung-luu-y-ve-suc-khoe-cho-fan-bong-da-15-760x367.jpg" />
            </div>
            <div class="container">
                <div id="main">
                    <div class="row">
                        <div class="col-md-9 left">

                            <a asp-page="/Views/Home/ChuyenNhuongNews">
                                <h2>Tin chuyển nhượng</h2>
                            </a>
                            @foreach (var CNNews in Model.listPostCN)
                            {
                                <a asp-page="/Views/Home/DetailNews" asp-route-id="@CNNews.IdPost">
                                    <div class="khungNews">
                                        <div class="row">
                                            <div class="col-md-4 image">
                                                @foreach (var image in Model.listImage)
                                                {
                                                    @if (CNNews.IdPost == image.PostId)
                                                    {
                                                        <img src="~/img/@image.Name" />
                                                    }
                                                }
                                            </div>

                                            <div class="col-md-8 news">
                                                <h4>@CNNews.Title</h4>
                                                <p>@CNNews.DatePost</p>
                                                <p>@CNNews.Description</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            }

                            <a asp-page="/Views/Home/BDVNNews">
                                <h2>Bóng đá Việt Nam</h2>
                            </a>
                            @foreach (var bdvn in Model.listPostBDVN)
                            {
                                <a asp-page="/Views/Home/DetailNews" asp-route-id="@bdvn.IdPost">
                                    <div class="khungNews">
                                        <div class="row">
                                            <div class="col-md-4 image">
                                                @foreach (var image in Model.listImage)
                                                {
                                                    @if (image.PostId == bdvn.IdPost)
                                                    {
                                                        <img src="~/img/@image.Name">
                                                    }
                                                }
                                            </div>

                                            <div class="col-md-8 news">
                                                <h4>@bdvn.Title</h4>
                                                <p>@bdvn.DatePost</p>
                                                <p>@bdvn.Description</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            }


                            <a asp-page="/Views/QT/PremierLeague">
                                <h2>Premier league</h2>
                            </a>
                            @foreach (var anh in Model.listPostPremierLeague)
                            {
                                <a asp-page="/Views/Home/DetailNews" asp-route-id="@anh.IdPost">
                                    <div class="khungNews">
                                        <div class="row">
                                            <div class="col-md-4 image">
                                                @foreach (var image in Model.listImage)
                                                {
                                                    @if (image.PostId == anh.IdPost)
                                                    {
                                                        <img src="~/img/@image.Name">
                                                    }
                                                }
                                            </div>

                                            <div class="col-md-8 news">
                                                <h4>@anh.Title</h4>
                                                <p>@anh.DatePost</p>
                                                <p>@anh.Description</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            }


                            <a asp-page="/Views/QT/LaLiga">
                                <h2>La Liga</h2>
                            </a>
                            @foreach (var tbn in Model.listPostLaLiga)
                            {
                                <a asp-page="/Views/Home/DetailNews" asp-route-id="@tbn.IdPost">
                                    <div class="khungNews">
                                        <div class="row">
                                            <div class="col-md-4 image">
                                                @foreach (var image in Model.listImage)
                                                {
                                                    @if (image.PostId == tbn.IdPost)
                                                    {
                                                        <img src="~/img/@image.Name">
                                                    }
                                                }
                                            </div>

                                            <div class="col-md-8 news">
                                                <h4>@tbn.Title</h4>
                                                <p>@tbn.DatePost</p>
                                                <p>@tbn.Description</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            }


                            <a asp-page="/Views/QT/SerieA">
                                <h2>Serie A</h2>
                            </a>
                            @foreach (var serieA in Model.listPostSeriA)
                            {
                                <a asp-page="/Views/Home/DetailNews" asp-route-id="@serieA.IdPost">
                                    <div class="khungNews">
                                        <div class="row">
                                            <div class="col-md-4 image">
                                                @foreach (var image in Model.listImage)
                                                {
                                                    @if (image.PostId == serieA.IdPost)
                                                    {
                                                        <img src="~/img/@image.Name">
                                                    }
                                                }
                                            </div>

                                            <div class="col-md-8 news">
                                                <h4>@serieA.Title</h4>
                                                <p>@serieA.DatePost</p>
                                                <p>@serieA.Description</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            }

                        </div>

                        <div class="col-md-3 right">
                            <h1>Tin mới nhất</h1>
                            @foreach (var newPost in Model.listNewPost)
                            {
                                <a asp-page="/Views/Home/DetailNews" asp-route-id="@newPost.IdPost">
                                    <div class="khungNewNews">
                                        @foreach (var image in Model.listImage)
                                        {
                                            @if (image.PostId == newPost.IdPost)
                                            {
                                                <img src="~/img/@image.Name"
                                         alt="" width="100%"
                                         height="200px">
                                            }
                                        }
                                        <h4>@newPost.Title</h4>
                                    </div>
                                </a>
                            }
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div id="footer">
                <div class="logoBot">
                    <img src="https://static.bongda24h.vn/medias/standard/2021/4/24/lich-thi-dau-bong-da-hom-nay-28-4-2021.jpg">
                </div>

                <div class="row">
                    <div class="col-md-7 giayphep">
                        <p>
                            Giấy phép: Số 15/GP-TTĐT của Bộ Thông tin - Truyền thông ngày 29/01/2010 và GP số 56/GP-STTTT của Sở
                            Thông tin và Truyền thông TP. Hồ Chí Minh cấp ngày 03/09/2021.
                        </p>
                        <p>
                            Chịu trách nhiệm nội dung: Nhà báo, TS. Võ Danh Hải.
                            Cấm sao chép dưới mọi hình thức nếu không có sự chấp thuận bằng văn bản.
                            Vận hành và phát triển bởi Công ty Cổ phần Yêu Thể Thao.
                        </p>
                    </div>

                    <div class="col-md-5 lienhe">
                        <h2>Thông tin liên hệ</h2>
                        <p>E-mail: phamduykhanh@gmail.com</p>
                        <p>Địa chỉ: Quảng Ninh</p>
                        <p>Phone: 0123456789</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

</div>
